.footer-custom {
  background-color: #052342;
  padding: auto;
  margin: 10px 0;
  border-radius: 6px;
  text-align: center;
}

.footer-custom p {
  font-size: 0.9rem;
  color: #ffffff;
  margin: 4px 0;
}
