<div class="container mt-4">
  <h2>Student Registration</h2>
  <form (ngSubmit)="submit()">
    <input [(ngModel)]="registration.studentName" name="name" placeholder="Name" class="form-control mb-2" required>
    <input [(ngModel)]="registration.email" name="email" placeholder="Email" class="form-control mb-2" required>

    <select [(ngModel)]="registration.courseType" name="type" class="form-select mb-2" required>
      <option value="" disabled selected>Select Course Type</option>
      <option>Individual</option>
      <option>Group</option>
      <option>Special</option>
    </select>

    <select [(ngModel)]="registration.course" name="course" class="form-select mb-2" required>
      <option value="" disabled selected>Select Course</option>
      <option>Python FullStack</option>
      <option>Java FullStack</option>
      <option>MERN FullStack</option>
      <option>MEAN FullStack</option>
    </select>

    <select [(ngModel)]="registration.durationDays" name="duration" class="form-select mb-3" required>
      <option value="0" disabled>Select Duration</option>
      <option value="30">30 Days</option>
      <option value="45">45 Days</option>
      <option value="60">60 Days</option>
    </select>

    <button class="btn btn-primary w-100" type="submit">Register</button>
  </form>
</div>
