.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding-bottom: 60px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  width: 100%;
  max-width: 800px; 
  padding: 20px;
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #ffffff; 
}

nav a:hover {
  color: #d3d3d3; 
}

app-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #052342; 
}

app-footer {
  position: sticky;
  bottom: 0;
  z-index: 1000;
  background-color: #052342; 
}